# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environment
venv/
ENV/
env/

# Environment variables
.env

# Logs and Database
*.log
*.csv
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Test files
test_hiphop_eras_songs.csv
